/* =======================================*/
/*
/* CHECKBOX
/*
/* =======================================*/

@mixin checkbox(
	$color:			$color-brand,
	$border:		2px solid $color-grey,
	$border-radius:	0px
	) {

	margin: 0 (20px*0.5) 0 (20px*0.25); // Note: fixed px-values neccessary
	position: relative;
	cursor: pointer;

	// CHECK BOX
	&:before {
		@include transition();
		cursor: pointer;
		content: '';
		width: 20px; // Note: fixed px-values neccessary
		height: 20px; // Note: fixed px-values neccessary

		border: $border;
		border-radius: $border-radius;
		background: #fff;

		position: absolute;
		top: (-20px*0.25); // Note: fixed px-values neccessary
		left: (-20px*0.25); // Note: fixed px-values neccessary
	}
	&:checked,
	&:hover {
		&:before {background: $color-grey;}
	}
	
	// CHECK SYMBOL
	&:after {
		@include transition();
		transform: rotate(-25deg) scale(0);

		content: '';
		width: 20px; // Note: fixed px-values neccessary
		height: (20px*0.4); // Note: fixed px-values neccessary

		border: 2px solid $color;
		border-top-style: none;
		border-right-style: none;

		position: absolute;
		top: (-20px*0.25); // Note: fixed px-values neccessary
	}
	&:checked {
		&:after {
			transform: rotate(-45deg) scale(1);
		}
	}
}
