/* =======================================*/
/*
/* FLEXBOX
/* 
/* =======================================*/

@mixin flexbox($type: null, $direction: null, $wrap: null, $justify: null, $align: null) {
	// Flex or Inline-Flex
	@if $type == 'inline-flex' {
		display: inline-flex;
		margin-right: -4px; //fix for: invisible spacing for inline-block
	} @else {
		display: flex;
	} 
	// Flex Direction
	@if $direction == 'column' or $direction == 'col' {
		flex-direction: column;
	} @else {
		flex-direction: row;
	} 
	// Flex Wrap
	@if $wrap == 'nowrap' or $wrap == 'no-wrap' {
		flex-wrap: nowrap;
	} @else {
		flex-wrap: wrap;
	}
	// Justify Content
	@if $justify == null or $justify == 'space-between' or $justify == 'spacebetween' or $justify == 'between' {
		justify-content: space-between;
	} @else if $justify == 'space-around' or $justify == 'spacearound' or $justify == 'around' {
		justify-content: space-around;
	} @else if $justify == 'center' {
		justify-content: center;
	} @else if $justify == 'flex-start' or $justify == 'flexstart' or $justify == 'start'{
		justify-content: flex-start;
	} @else if $justify == 'flex-end' or $justify == 'flexend' or $justify == 'end' {
		justify-content: flex-end;
	}
	// Align items
	@if $align == null or $align == 'flex-start' or $align == 'flexstart' or $align == 'start' {
		align-items: flex-start;
	} @else if $align == 'flex-end' or $align == 'flexend' or $align == 'end' {
		align-items: flex-end;
	} @else if $align == 'baseline' {
		align-items: baseline;
	} @else if $align == 'center' {
		align-items: center;
	} @else if $align == 'stretch' or $align == 'strech' {
		align-items: stretch;
	}
}