/* =======================================*/
/*
/* GRID
/*
/* =======================================*/
@mixin column($fraction: null, $gutter: null, $behavior: null, $important: true) {
	@if ($important == true) {
		$important: !important;
	}
	// GRID: NO GUTTERS (default)
	@if ($gutter == 0px or $gutter == false or $gutter == null) {
		// FRACTION WIDTH
		@if ($fraction != null and $fraction <= 1) {
			width: calc(99.999999% * (#{$fraction})) $important;
			margin-bottom: 0;
			// BEHAVIOR: DOUBLING
			@if ($behavior == 'doubling') {
				@include respond-below(xl) 	{width: calc(99.999999% * (#{$fraction}) * 2) $important;}
				@include respond-below(m) 	{width: calc(99.999999% * (#{$fraction}) / ((#{$fraction}) * 2)) $important;}
				@include respond-below(s) 	{width: 100% $important;}
			}
		}
		// PX WIDTH
		@if ($fraction != null and $fraction > 1) {
			width: $fraction $important;
			margin-bottom: 0;
		}
		// AUTO WIDTH
		@if ($fraction == null) {
			flex: 1;
			margin-bottom: 0;
		}
	}
	// GRID: WITH GUTTERS (accepts $whitespace variable, px or % as gutter)
	@else {
		@if ($gutter == true) {
			$gutter: $whitespace;
		}
		// FRACTION WIDTH
		@if ($fraction != null and $fraction <= 1) {
			width: calc(99.999999% * (#{$fraction}) - (#{$gutter} - #{$gutter} * (#{$fraction}))) $important;
			margin-bottom: $gutter;
			// BEHAVIOR: DOUBLING
			@if ($behavior == doubling) {
				@include respond-below(xl) 	{width: calc(99.999999% * ((#{$fraction}) * 2) - (#{$gutter} - #{$gutter} * ((#{$fraction}) * 2))) $important;}
				@include respond-below(l) 	{width: calc(99.999999% * ((#{$fraction}) / ((#{$fraction}) * 2)) - (#{$gutter} - #{$gutter} * ((#{$fraction}) / ((#{$fraction}) * 2)))) $important;}
				@include respond-below(m) 	{width: 100% $important;}
			}
		}
		// PX WIDTH (-> no gutters possible)
		@if ($fraction != null and $fraction > 1) {
			width: $fraction $important;
		}
		// AUTO WIDTH (-> no gutters possible)
		@if ($fraction == null) {
			flex: 1;
		}
	}
	// BEHAVIOR: STACKING
	@if ($behavior == stacking) {
		@include respond-below(m) {
			flex: auto;
			width: 100% $important;
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
	}
}
