/* =======================================*/
/*
/* CHECKBOX
/*
/* =======================================*/

@mixin radiobutton(
	$color:			$color-brand,
	$border:		2px solid $color-grey,
	$border-radius:	100%
	) {

	margin: 0 (20px*0.5) 0 (20px*0.25);  // Note: fixed px-values neccessary
	position: relative;
	cursor: pointer;

	// RADIOBUTTON BOX
	&:after {
	  @include transition();
	  cursor: pointer;
	  content: '';
	  width: 20px; // Note: fixed px-values neccessary
	  height: 20px; // Note: fixed px-values neccessary

	  background: #fff;

	  border-radius: $border-radius;
	  border: $border;

	  position: absolute;
	  top: (-20px*0.20); // Note: fixed px-values neccessary
	  left: (-20px*0.25); // Note: fixed px-values neccessary
	}
	&:checked,
	&:hover {
	  &:after {background: $color-grey;}
	}

	// RADIOBUTTON SYMBOL
	&:before {
	  @include transition();
	  transform: scale(0);

	  content: '';
	  width: (20px*0.5); // Note: fixed px-values neccessary
	  height: (20px*0.5); // Note: fixed px-values neccessary

	  border-radius: 100%;
	  background: $color;

	  position: absolute;
	  top: (20px*0.05); // Note: fixed px-values neccessary
	  z-index: 1;
	}
	&:checked {
	  &:before {
	    transform: scale(1);
	  }
	}
}
