/* =======================================*/
/*
/* BASE
/*
/* =======================================*/
// Border Box
html {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

// Transition Everything
@if $transition-everything == true {
	* {@include transition();}
}

// Base
html, body {
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
}

// Loader
svg path,
svg rect {
	fill: $color-brand;
}

// Images
img {
	display:block;
	max-width: 100%;
}
